/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:
#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

.container {
  width: 100%;
  max-width: 1025px;
  left: 0;
  right: 0;
  margin: 0 auto; }
  .container .row::before, .container .row::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .container .row [class*='col-'] {
    float: left;
    width: 100%; }
  @media (max-width: 640px) {
    .container .row .col-m-1 {
      width: 16.66667%; }
    .container .row .col-m-2 {
      width: 33.33333%; }
    .container .row .col-m-3 {
      width: 50%; }
    .container .row .col-m-4 {
      width: 66.66667%; }
    .container .row .col-m-5 {
      width: 83.33333%; }
    .container .row .col-m-6 {
      width: 100%; } }
  @media (min-width: 640px) {
    .container .row .col-d-1 {
      width: 16.66667%; }
    .container .row .col-d-2 {
      width: 33.33333%; }
    .container .row .col-d-3 {
      width: 50%; }
    .container .row .col-d-4 {
      width: 66.66667%; }
    .container .row .col-d-5 {
      width: 83.33333%; }
    .container .row .col-d-6 {
      width: 100%; } }

header {
  background: url("https://images.contentful.com/0h9pmgoz6uwq/35XEOUDacMcG4WuicMUE68/e6c877e49de28c5d853d1f260195c466/green-tea.jpg");
  background-size: cover;
  background-position: bottom;
  color: #012b03;
  font-weight: bold;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: 700;
  position: fixed;
  top: 0;
  z-index: 1; }
  @media (min-width: 640px) {
    header {
      background-position: bottom;
      min-height: 75px;
      line-height: 75px; } }
  header .logo {
    padding-left: 25px;
    text-align: left;
    background: rgba(255, 255, 255, 0.5);
    font-size: 25px; }
    @media (min-width: 640px) {
      header .logo {
        text-align: center;
        font-size: 50px; } }
  header .mobileMenu {
    line-height: 50px;
    background: rgba(255, 255, 255, 0.5); }
    @media (min-width: 640px) {
      header .mobileMenu {
        display: none; } }
  header nav {
    display: none; }
    @media (min-width: 640px) {
      header nav {
        display: block !important; } }
    header nav ul {
      background: rgba(255, 255, 255, 0.25); }
      @media (min-width: 640px) {
        header nav ul {
          background: white; } }
      header nav ul li {
        min-height: 50px;
        line-height: 50px;
        border-top: 5px solid rgba(255, 255, 255, 0.5);
        font-size: 20px; }
        header nav ul li:hover {
          background: #012b03; }
        header nav ul li:hover > a {
          color: white; }
        @media (min-width: 640px) {
          header nav ul li {
            font-size: 25px;
            display: inline-block;
            width: 33.333%;
            border-bottom: 5px solid rgba(255, 255, 255, 0.5); }
            header nav ul li:nth-of-type(2) {
              border-left: 3px solid #012b03;
              border-right: 3px solid #012b03; } }
        header nav ul li a {
          text-decoration: none;
          color: #012b03; }

.showMenu {
  display: block; }

#gallery {
  margin-top: 50px; }
  @media (min-width: 640px) {
    #gallery {
      margin-top: 150px; } }
  #gallery .slide {
    height: 200px;
    width: 100%;
    position: relative; }
    @media (min-width: 640px) {
      #gallery .slide {
        height: 450px;
        line-height: 150px; } }
    #gallery .slide img {
      width: 100%;
      height: 100%; }
    #gallery .slide span {
      border: 2px solid black;
      box-shadow: 0 3px 10px 0 #012b03;
      padding: 10px;
      background: rgba(255, 255, 255, 0.75);
      width: 50%;
      position: absolute;
      top: 25px;
      left: 25px;
      text-align: center; }
      @media (min-width: 640px) {
        #gallery .slide span {
          height: 150px;
          vertical-align: middle;
          font-size: 35px; } }

.hideInfo {
  display: none; }

#about, #products, #contact {
  background: #012b03;
  color: white;
  border-bottom: 5px solid rgba(255, 255, 255, 0.5); }
  #about article, #products article, #contact article {
    padding: 18px 0; }
    #about article div, #products article div, #contact article div {
      padding: 10px;
      font-size: 15px;
      line-height: 30px;
      text-align: center; }
      @media (min-width: 640px) {
        #about article div, #products article div, #contact article div {
          font-size: 25px; } }
      #about article div h1, #products article div h1, #contact article div h1 {
        font-size: 25px; }
        @media (min-width: 640px) {
          #about article div h1, #products article div h1, #contact article div h1 {
            font-size: 35px; } }

#about {
  min-height: 400px; }

#products {
  min-height: 400px; }

#contact {
  height: 750px; }
  @media (min-width: 640px) {
    #contact {
      height: 600px; } }

#contact {
  width: 100%;
  min-height: 600px; }
  #contact h1 {
    margin: 25px 0;
    text-align: center; }
  #contact form {
    width: 100%;
    height: 100%;
    text-align: center; }
    #contact form label {
      margin-top: 15px; }
    #contact form input {
      display: block;
      margin: 0 auto;
      width: 90%; }
      #contact form input:last-of-type {
        width: 60%; }
    #contact form textarea {
      width: 90%; }
  #contact iframe {
    width: 90%;
    height: 350px;
    margin-left: 5%;
    border: 3px solid black;
    box-shadow: 0 3px 10px 0 #012b03; }
    @media (min-width: 640px) {
      #contact iframe {
        height: 550px; } }

footer {
  padding: 15px; }
  footer h2 {
    font-size: 20px;
    line-height: 30px;
    text-align: center; }
    @media (min-width: 640px) {
      footer h2 {
        line-height: 70px; } }
  footer h3 {
    font-size: 15px; }
    @media (min-width: 640px) {
      footer h3 {
        font-size: 20px; } }
  footer a {
    color: #012b03;
    text-decoration: none;
    text-align: center; }
  footer .fa {
    font-size: 35px;
    align-self: center; }
  footer .smedia {
    border-top: 3px solid #012b03;
    margin-top: 25px; }
    @media (min-width: 640px) {
      footer .smedia {
        border-top: transparent;
        border-left: 3px solid #012b03;
        margin-top: 0; } }
    footer .smedia .links {
      display: flex;
      justify-content: space-around; }
  footer .author {
    text-align: center;
    background: #012b03;
    color: white;
    margin-top: 15px;
    font-size: 15px;
    line-height: 25px; }
    @media (min-width: 640px) {
      footer .author {
        font-size: 20px;
        line-height: 40px; } }

* {
  font-family: 'Dancing Script', cursive, sans-serif; }
