#gallery{
    .slide{
        height: 200px;
        width: 100%;
        position: relative;
        @include desktop{
            height: 450px;
            line-height: 150px;
        }
        img{
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        span{
            border: 2px solid black;
            box-shadow: 0 3px 10px 0 $baseColor1;
            padding: 10px;
            background: rgba(255,255,255, 0.75);
            z-index: 5;
            width: 50%;
            position: absolute;
            top: 25px;
            left: 25px;
            text-align: center;
            @include desktop{
                height: 150px;
                vertical-align: middle;
                font-size: 35px;
            }
        }
    }
}

.hideInfo{
    display: none;
}
