#about, #products, #contact{
    background: $baseColor1;
    color: $baseColor2;
    border-bottom: 5px solid rgba(255,255,255, 0.5);
    article{
        padding: 18px 0;
        div{
            padding: 10px;
            font-size: 15px;
            line-height: 30px;
            text-align: center;
            h1{
                font-size: 25px;
            }
        }
    }
}

#about{
    position: absolute;
    top: 250px;
    height: 400px;
    @include desktop{
        top: 600px;
        height: 300px;
    }
}

#products{
    height: 400px;
    position: absolute;
    top: 650px;
    @include desktop{
        top: 900px;
        height: 300px;
    }
}

#contact{
    position: absolute;
    top: 1050px;
    height: 750px;
    @include desktop{
        top: 1200px;
        height: 400px;
    }
}
