#about, #products, #contact{
    background: $baseColor1;
    color: $baseColor2;
    border-bottom: 5px solid rgba(255,255,255, 0.5);
    article{
        padding: 18px 0;
        div{
            padding: 10px;
            font-size: 15px;
            line-height: 30px;
            text-align: center;
            @include desktop{
                font-size: 25px;
            }
            h1{
                font-size: 25px;
                @include desktop{
                    font-size: 35px;
                }
            }
        }
    }
}

#about{
    min-height: 400px;
}

#products{
    min-height: 400px;
}

#contact{
    height: 750px;
    @include desktop{
        height: 600px;
    }
}
